<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <strong>{{ site.title }}</strong>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {{ content | safe }}
        </main>
        <footer class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/quick-guide">GitHub.dev Guide</a>
                <a href="https://github.com/oleeskild/gurl">GitHub</a>
            </nav>
            <p>&copy; {{ site.year }} - {{ site.title }} | A free and open source URL shortener</p>
        </footer>
    </body>
</html>